<li class="item" id="menuItem_{{id}}" data-type="{{^hasChilds}}{{menu}}{{/hasChilds}}{{#hasChilds}}2{{/hasChilds}}">
    <div class="m-portlet m-portlet--brand m-portlet--head-solid-bg m-portlet--bordered">
        <div class="m-portlet__head handle">
            {{#isRoot}}<i class="{{icon}}"></i>{{/isRoot}}
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        {{title}}
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a href="javascript:void(0)" class="m-portlet__nav-link m-portlet__nav-link--icon edit">
                            <i class="la la-edit"></i>
                        </a>
                    </li>
                    {{#hasChilds}}
                    <li class="m-portlet__nav-item">
                        <a href="javascript:void(0)" class="m-portlet__nav-link m-portlet__nav-link--icon disclose">
                            <i class="la la-angle-down"></i>
                        </a>
                    </li>
                    {{/hasChilds}} {{^hasChilds}}
                    <li class="m-portlet__nav-item">
                        <a href="javascript:void(0)" class="m-portlet__nav-link m-portlet__nav-link--icon delete" data-id="{{id}}">
                            <i class="la la-close"></i>
                        </a>
                    </li>
                    {{/hasChilds}}
                </ul>
            </div>
        </div>
        <form class="m-form m-form--fit m-form--label-align-right" id="editForm_{{id}}" name="editForm_{{id}}" novalidate="novalidate" style="display: none;">
            <div class="m-portlet__body">
                <input id="id" name="id" value="{{id}}" type="hidden">
                <div class="m-form__group form-group">
                    <label>
                        Menu
                    </label>
                    <div class="m-radio-inline">
                        <label class="m-radio">
                            <input type="radio" name="type" id="type_menu" value="1" {{^isSection}}checked{{/isSection}}>
                            Si
                            <span></span>
                        </label> {{^hasChilds}}{{#isRoot}}
                        <label class="m-radio">
                            <input type="radio" name="type" value="0" {{#isSection}}checked{{/isSection}}>
                            No
                            <span></span>
                        </label> {{/isRoot}}{{/hasChilds}}
                    </div>
                </div>

                <div class="form-group m-form__group">
                    <label for="title">
                        Nombre del Menú
                    </label>
                    <input type="text" class="form-control m-input" id="title" name="title" value="{{title}}" placeholder="Usuarios">
                </div>
                <div class="form-group m-form__group ">
                    <label for="route">
                        Ruta
                    </label>
                    <input type="text" class="form-control m-input " id="route" name="route" value="{{route}}" placeholder="App">
                </div>
                <div class="form-group m-form__group ">
                    <label for="icon">
                        Icóno
                    </label>
                    <div class="m-select2">
                        <select class="form-control m-select2 " id="icon" name="icon" data-placeholder="flaticon-users ">        
                            <option value="{{icon}}">{{iconName}}</option>   
                        </select>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit ">
                <div class="m-form__actions m-form__actions ">
                    <div class="row ">
                        <div class="col-sm-12 ">
                            <button type="submit" id="save" class="btn btn-primary pull-right " style="margin-left: 15px; ">
                                Guardar
                            </button>
                            <button type="reset " class="btn btn-secondary pull-right ">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {{#hasChilds}}
    <ol>
        {{#childs}} {{> child }} {{/childs}}
    </ol>
    {{/hasChilds}}
</li>